$dark: #202122;
$white: #fff;
$light: #f4f4f4;
$orange: #ff7300;
$gray: #d1d5db;

$font-family: 'Poppins', sans-serif;
$website-width: 1360px;

$border-radius: 12px;
$box-shadow: #64646f 0px 5px 14px 0px;
$box-shadow-sm: #64646f 0px 3px 8px 0px;
