@use '@/styles/mixin' as m;
@use '@/styles/functions' as f;
@use '@/styles/variables' as v;

.text {
  font-family: v.$font-family;
  line-height: 1.5;
  font-weight: 400;

  &_s_xl {
    font-size: f.toRem(24);
  }

  &_s_lg {
    font-size: f.toRem(18);
  }

  &_s_md {
    font-size: f.toRem(16);
  }

  &_s_sm {
    font-size: f.toRem(14);
  }

  &_s_xs {
    font-size: f.toRem(12);
  }

  &_white {
    color: v.$white;
  }

  &_dark {
    color: v.$dark;
  }
}
